{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<ul>
		<li>
			<a href="{{ url('user_edit') }}">Your account</a>
		</li>

		<li>
			<a href="{{ url('formation_index') }}">Training</a>
		</li>

		<li>
			<a href="{{ url('affectation_index') }}">Assignment</a>

		</li>
		{% if is_granted('ROLE_FORMATEUR') %}
			<li>
				<a href="{{ url('invitation_index') }}">Invitation</a>

			</li>

		{% endif %}


	</ul>
{% endblock %}
