{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<ul>
	<li><a href="{{ url('user_edit') }}">Your account</a></li>

	<li><a href="{{ url('formation_index') }}">Formation</a></li>
</ul>
{% endblock %}
