<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		{% if app.user %}
			<h1>Hello
				{{ app.user.prenom | capitalize}}

				{{ app.user.nom | capitalize}}

				<a href="{{ path('app_logout') }}">click to leave</a>
			</h1>
		{% endif %}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html></body></html>
